<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Scores List</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>Score</th>
        </tr>
        <% scores.forEach(element => { %>
            <tr>
                <td><%= element.userId %></td>
                <td><%= element.score %></td>   
            </tr>
        <% }) %>
    </table>

    <form action="/scores/add/:userId" method="POST">
        <div>
            <label for="userId">User ID:</label>
            <input name="userId" id="userId" value="" />
        </div>
        <div>
            <label for="score">Score: </label>
            <input name="score" id="score" value="" />
        </div>
        <div>
            <button >Submit Score</button>
        </div>
    </form>

</body>
</html>