<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Scores List</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>Score</th>
        </tr>
        <% scores.forEach(element => { %>
            <tr>
                <td><%= element.userId %></td>
                <td><%= element.score %></td>   
            </tr>
        <% }) %>
    </table>
</body>
</html>